/* problematic
.center,.center *,h1,h2,h3,h4,h5,h6 {
text-align:center;
}

.poem,.center,.poem *,.center *  {
margin:0 auto;
}

.center table {
display:inline-table;
}*/

.wsrozdzial {
page-break-before: always;
visibility: hidden;
}

hr.hidden {
visibility: hidden;
}

.center,h1,h2,h3,h4,h5,h6 {
text-align:center;
}

.poem,.center,.poem *,.center *,table {
margin:0 auto;
}

.poem  {
display: table;
}

.small {
font-size:94%;
}

.thumbcaption {
font-size:90%;
font-style:italic;
text-align:center;
}

.tleft {
clear:left;
float:left;
margin:.5em 1em .5em 0;
}

.tright {
clear:right;
float:right;
margin:.5em 0 .5em 1em;
}

p {
margin:0;
text-align:justify;
text-indent:1.2em;
}
